<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="dash.css" />
    <title>Dashboard</title>
  </head>
  <body style="background-image: url(dash.jpg)">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <div class="card">
      <img
        src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
        alt="John"
        style="width: 100%"
      />
      <h1>Nimren Naiju</h1>

      <p class="btn"><a href="/profile">User Profile</a></p>
      <p class="btn"><a href="/tasks">Task Manager</a></p>
      <p class="btn"><a href="/course">Course</a></p>
      <p>
        <a href="/" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-log-out"></span> Log out
        </a>
      </p>
    </div>
  </body>
</html>
