<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;1,700&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="index.css" />
    <title>LMS</title>
  </head>
  <body class="bg">
    <h1 class="head">Learning Management System</h1>
    <h3 class="head">Free course and certification in 3 weeks</h3>
    <section>
      <nav>
        <a href="/signup"> Sign Up </a>
        <span></span><span></span><span></span><span></span>
        <a href="/login" style="margin-top: 100px"> Login </a>
        <span></span><span></span><span></span><span></span>
      </nav>
    </section>
    <footer class="footer">
      <p>Questions? Call 1-866-579-7172</p>
      <div class="footer-cols">
        <ul>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Investor Relations</a></li>

          <li><a href="#">Corporate Information</a></li>
        </ul>
        <ul>
          <li><a href="#">Help Center</a></li>
          <li><a href="#">Jobs</a></li>
          <li><a href="#">Terms Of Use</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
        <ul>
          <li><a href="#">Account</a></li>

          <li><a href="#">Privacy</a></li>
        </ul>
        <ul>
          <li><a href="#">Cookie Preferences</a></li>
          <li><a href="#">Legal Notices</a></li>
        </ul>
      </div>
    </footer>
  </body>
</html>
